<mat-toolbar color="primary" class="body">
    <span class="centrar">AppUsers</span>
    <span class="example-spacer"></span>
    <div class="centrar">
        <button mat-button [routerLink]="item.redirect" *ngFor="let item of menu" (click)="sendStudentTitle()">{{item.nombre}}</button>
    </div>

    <span class="example-spacer"></span>
    <!-- routerLink="/logout" -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>logout</mat-icon>
        </button>
</mat-toolbar>