<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(232,236,239,255)'">
            No.
        </th>
        <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element) + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(232,236,239,255)'">
            Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
   
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(232,236,239,255)'">
            Last Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(232,236,239,255)'">
            Country
        </th>
        <td mat-cell *matCellDef="let element"> {{element.countryDto.description}} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(232,236,239,255)'">
            City
        </th>
        <td mat-cell *matCellDef="let element"> {{element.cityDto.description}} </td>
    </ng-container>
    
    <!-- Address Column -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(232,236,239,255)'">
            Address
        </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(232,236,239,255)'">Actions</th>
        <td mat-cell *matCellDef="let element; let i = index;">
            <a class="pointer" style="color: #1878b0;" matTooltip="Show User">
                <mat-icon>search</mat-icon>
            </a>
            <a class="pointer" style="color: #1f516f;" matTooltip="Edit User">
                <mat-icon>edit</mat-icon>
            </a>
            <!-- <a class="pointer" (click)="eliminarUsuario(i)" style="color: #e15639;" matTooltip="Eliminar Usuario">
                            <mat-icon>delete</mat-icon>
                        </a> -->
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>